<% breadcrumb :gallery, @gallery %>
<div id="sl_gallery_show" class="sl_gallery">
  <%= render 'gallery',gallery_categories: @gallery_categories,galleries: @galleries,gallery: @gallery,gallery_category_id: @gallery_category_id %>
</div>
