<aside class="visible-lg visible-xl pull-right col-lg-4">
  <%= render 'blog_categories/aside' %>
	<% unless @tags.empty? %>
	<%= render 'blogs/tag_cloud' %>
	<% end %>
	<%= render 'ad' %>  
	<div class="clearfix"></div>
</aside>
