<footer>
	<div><%=t(:application_name)%>  &nbsp; | &nbsp; <%=t(:application_address) %>  <span class="hidden-xs">&nbsp; | &nbsp;  copyleft 2012</span></div>
	<div><%=t(:application_description) %></div>
</footer>
