<div class="row">
	<div class="col-12">
		<div class="page-header" itemscope itemtype="http://schema.org/WebPage">
			<h2 itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement"><span itemprop="headline"><%=@controller_name %></span></h2>
			<% breadcrumbs.tap do |links| %>
				<% if links.any? %>
					<ol class="breadcrumb">
						<% links.each do |link| %>
						  <li class="breadcrumb-item<%= ' active' if link.current? %>">
							<%= link_to_unless(link.current?, link.text, link.url) %>
						  </li>
						<% end %>
					</ol>
				<% end %>
			  <% end %>
		</div>
	</div>
</div>
